<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expert Listing</title>
</head>
<body>
<h1>Expert Listin</h1>
<%= link_to 'Add new', new_expert_url %>
  <table>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Number of friends</th>
    </tr>
    <% @experts.each do |experts| %>
      <tr>
        <td><%= link_to experts.name, expert_path(experts) %></td>
        <td><%= experts.short_website %></td>
        <td></td>
      </tr>
    <% end %>
  </table>

</body>
</html>